.logo-hor{
	height: 100px;
	width: 100%;
	margin-top: 20px;

}

body{
	font-size: .55em;
}

.mensajes
{
    background: yellow;
    border-radius: .5em;
    color: #000;
    font-family: Helvetica, verdana;
    font-size: 1em;
    padding: .5em;
}

footer{
    background: #090B1A;
    color: #DAD9D9;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 100px;
    text-align: center;
}

legend{
  font-size: 1.5em;
}